@model EmissorasApp.Models.Audiencia

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar Audiência da Base de Dados</h2>
<h6>Para confirmar a ação, clique em "Apagar"</h6>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pontosAudiencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pontosAudiencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataHoraAudiencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataHoraAudiencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emissoraAudiencia)
        </dt>

        <dd>
            @ViewBag.emissora
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        @Html.ActionLink("Voltar para Lista de Audiências", "Index")
    </div>
    }
</div>
